{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block meta %}
{% endblock meta %}

{% block page-content %}
<h2 class="ui centered header">Welcome Dr. {{doctor.first_name}} {{doctor.last_name}}!</h2>
<div class="ui centered grid container">   
    <div class="ui twelve wide column"> 
        <div class="ui basic segment">
            <h2 class="ui centered header">Appointments</h2>
        </div>
        <div class="ui styled fluid accordion">
            {% for appointment in appointments %}
                <div class="title">
                    <i class="dropdown icon"></i>
                    <span>
                        {{appointment.patient.first_name}} {{appointment.patient.last_name}}
                    </span>
                    <span style="float: right;">
                        {{appointment.scheduled_start_time}} - {{appointment.scheduled_end_time}}
                    </span>
                </div>
                <div class="content">
                    <div class="ui equal width grid container">
                        <div class="column">
                            Reason: {{appointment.reason | default:"None Given"}}
                        </div>
                        <div class="column">
                            Status: {{appointment.status | default:"Unknown"}}
                        </div>
                        <div class="column">
                            Time Waiting: {{appointment.wait_time | default:"0"}} minutes.
                        </div>
                        <div class="column">
                            Location: {{appointment.office.name}} - {{appointment.exam_room.name}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="ui four wide column">
        <div class="ui basic segment">
            <h2 class="ui centered header">Statistics</h2>
        </div>
        <div class="ui segments">
            <div class="ui segment">Statistic One</div>
            <div class="ui segment">Statistic One</div>
            <div class="ui segment">Statistic One</div>
            <div class="ui segment">Statistic One</div>
            <div class="ui segment">Statistic One</div>
            <div class="ui segment">Statistic One</div>
            <div class="ui segment">Statistic One</div>
        </div>
    </div>
</div>
{% endblock page-content %}
 
{% block scripts %}
{% endblock scripts %}