<div class="header">
    <div class="ui borderless inverted violet menu">
        <div class="ui container">
            <div class="item">api-example-django</div>
            <a href="/welcome" class="right floated item">Welcome</a>
            <a href="/kiosk" class="item">Kiosk</a>
            {% if user.is_authenticated %}
                <form action="/logout/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="item">Log out</a>
                </form>
            {% endif %}
        </div>
    </div>  
</div>