{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block meta %}
{% endblock meta %}

{% block page-content %}
    <div class="ui text container">
        <h2 class="ui centered header">Doctor Login</h2>
        <div class="ui {{color | default:'blue'}} segment">
            <form class="ui form {{state | default:''}}" method="post">
                {% csrf_token %}
                <div class="ui {{message_type | default:''}} message">
                    <div class="header">{{header}}</div>
                    <p>{{message}}</p>
                </div>
                <div class="field">
                    <label>DrChrono Username</label>
                    <input type="text" name="username" placeholder="eg: DrMario" required>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password"  placeholder="eg: LetsaGo!123" required>
                </div>
                <button class="ui blue button" type="reset">Reset</button>
                <button id="button_authenticate" class="ui green button" type="submit">Authenticate Kiosk</button>
            </form>
        </div>
    </div>
{% endblock page-content %}